@font-face { font-family: Lane; src: url('./fonts/lane/LANENAR_.ttf'); } 
@font-face { font-family: LemonMilk; src: url('./fonts/lemon_milk/LEMONMILK-Light.otf'); } 

.App-header {
  background-color: #9d2b2b;
  margin-left: -3vw;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.body-spacer {
  margin: 0;
  background-color: rgb(252, 244, 233);
}

.navbar {
  width: 100vw;
  height: 6vh;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  font-size: calc(10px + 2vmin);
  margin-left: -1vw;
  font-family: Lane, sans-serif;
}

.body {

  margin-left: 5vw;
  margin-right: 5vw;
  min-height: 100vh;
  width: auto;
  background-color: inherit;
}

.body-title {
  text-align: center;
  padding-top: 10vh;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  font-size: calc(40px + 2vmin);
  font-family: Lane, sans-serif;
}

.title-photo {
  width: 40vw;
  border-radius: 5%;
}

.body-content {
  font-size: calc(10px + 2vmin);
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 10vh;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}